# Auditd Rules

####====-------
## Base config
####====-------

## First rule - delete all
-D

## Increase the buffers to survive stress events.
## Make this bigger for busy systems
-b 8192

## This determine how long to wait in burst of events
#--backlog_wait_time 60000

## Set failure mode to syslog
-f 1

## Continue on error
-c

####====-------
##  Don't audit rules at (at top as first match wins)
####====-------

## Ignore Splunk opening files, network connections
-a exit,never -F arch=b64 -S open -S openat -F exe=/opt/splunkforwarder/bin/splunkd -k exclude_splunk
-a exit,never -F arch=b64 -S connect -S bind -F exe=/opt/splunkforwarder/etc/apps/Splunk_TA_stream/linux_x86_64/bin/streamfwd -k exclude_splunk


## Ignore connect and bind
-a exit,never -F arch=b64 -S connect -S bind -F exe=/usr/sbin/chronyd -k exclude_net_usage
-a exit,never -F arch=b64 -S connect -S bind -F exe=/usr/libexec/postfix/master -k exclude_net_usage


# Cron jobs too chatty
# More testing on this setting
# remove this comment after testing
# to see if these logs are useful
-a never,user -F subj_type=crond_t

## This prevents chrony and ntpd from overwhelming the logs
-a never,exit -F arch=b64 -S adjtimex -S settimeofday -F auid=unset -F uid=chrony
-a never,exit -F arch=b64 -S adjtimex -S settimeofday -F auid=unset -F uid=ntpd

## VMWare tools
-a exit,never -F arch=b32 -S fork -F success=0 -F path=/usr/lib/vmware-tools -F subj_type=initrc_t -F exit=-2
-a exit,never -F arch=b64 -S fork -F success=0 -F path=/usr/lib/vmware-tools -F subj_type=initrc_t -F exit=-2



####====-------
## Do Audit Rules
####====-------

# look for 32 bit syscalls
-a always,exit -F arch=b32 -S all -k 32bit_syscall

## Mount operations (only attributable)
-a always,exit -F arch=b64 -S mount -S umount2 -F auid!=-1 -k mount
-a always,exit -F arch=b32 -S mount -S umount -S umount2 -F auid!=-1 -k mount

## Unsuccessful file access (any other opens) This has to go last.
-a always,exit -F arch=b64 -S open,openat,open_by_handle_at -F exit=-EACCES -F auid>=25 -F auid!=unset -F key=unsuccessful-access
-a always,exit -F arch=b64 -S open,openat,open_by_handle_at -F exit=-EPERM -F auid>=25 -F auid!=unset -F key=unsuccessful-access

## Unsuccessful file delete
-a always,exit -F arch=b64 -S unlink,unlinkat,rename,renameat -F exit=-EACCES -F auid>=25 -F auid!=unset -F key=unsuccessful-delete
-a always,exit -F arch=b64 -S unlink,unlinkat,rename,renameat -F exit=-EPERM -F auid>=25 -F auid!=unset -F key=unsuccessful-delete

## Unsuccessful ownership change
-a always,exit -F arch=b64 -S lchown,fchown,chown,fchownat -F exit=-EACCES -F auid>=25 -F auid!=unset -F key=unsuccessful-owner-change
-a always,exit -F arch=b64 -S lchown,fchown,chown,fchownat -F exit=-EPERM -F auid>=25 -F auid!=unset -F key=unsuccessful-owner-change

## Time
-a always,exit -F arch=b32 -S adjtimex -S settimeofday -S clock_settime -k time
-a always,exit -F arch=b64 -S adjtimex -S settimeofday -S clock_settime -k time


## Account changes
-w /etc/group -p wa -k identity
-w /etc/passwd -p wa -k identity
-w /etc/gshadow -p wa -k identity
-w /etc/shadow -p wa -k identity
-w /etc/security/opasswd -p wa -k identity

## Tools to change group identifiers
-w /usr/sbin/groupadd -p x -k identity
-w /usr/sbin/groupmod -p x -k identity
-w /usr/sbin/addgroup -p x -k identity
-w /usr/sbin/useradd -p x -k identity
-w /usr/sbin/usermod -p x -k identity
-w /usr/sbin/adduser -p x -k identity

## Network Environment
### Changes to hostname
-a always,exit -F arch=b32 -S sethostname -S setdomainname -k network_modifications
-a always,exit -F arch=b64 -S sethostname -S setdomainname -k network_modifications

### Changes to other files
-w /etc/hosts -p wa -k network_modifications
-w /etc/sysconfig/network -p wa -k network_modifications
-w /etc/network/ -p wa -k network_modification
-a always,exit -F dir=/etc/NetworkManager/ -F perm=wa -k network_modifications

## Pam configuration
-w /etc/pam.d/ -p wa -k pam
-w /etc/security/limits.conf -p wa  -k pam
-w /etc/security/pam_env.conf -p wa -k pam
-w /etc/security/namespace.conf -p wa -k pam
-w /etc/security/namespace.init -p wa -k pam

## Possibly suspicious
-w /usr/sbin/tcpdump -p x -k susp_activity
-w /usr/bin/nmap -p x -k susp_activity

## Package managers
-w /usr/bin/rpm -p x -k software_mgmt
-w /usr/bin/yum -p x -k software_mgmt
 
## DPKG / APT-GET (Debian/Ubuntu)
-w /usr/bin/dpkg -p x -k software_mgmt
-w /usr/bin/apt-add-repository -p x -k software_mgmt
-w /usr/bin/apt-get -p x -k software_mgmt
-w /usr/bin/aptitude -p x -k software_mgmt

# YAST/Zypper/RPM (SuSE)
-w /sbin/yast -p x -k software_mgmt
-w /sbin/yast2 -p x -k software_mgmt
-w /bin/rpm -p x -k software_mgmt
-w /usr/bin/zypper -k software_mgmt

# access to /home by root
-a always,exit -F dir=/home -F uid=0 -F auid>=400 -F auid!=unset -C auid!=obj_uid -F key=roothome

# log bind to ipv4 (lower volume than connect)
-a always,exit -F arch=b64 -F a0=4 -S bind -F key=net_usage

# log accept ipv6 (ipv6 is not supported. things still bind. alert if connect only)
-a always,exit -F arch=b64 -F a0=3 -F a3!=0 -S accept -F key=ipv6_usage

# log root executions
-a exit,always -F arch=b64 -F euid=0 -F auid!=4294967295 -S execve -k root-execve

# log non-root executions
-a exit,always -F arch=b64 -F euid!=0 -S execve -k execve
